<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
    #card{
        height: fit-content;
        width: fit-content;
        width: 500px;
        border: solid black 1px;
    }

    .foto{
        height: 90%;
        width: 90%;
    }

    
    </style>
</head>
<body>


<div id = "navbar">
    {% if not request.user.is_authenticated %}
    <ul>
   <li> <a href = "{% url 'user:logar_usuario' %}">login</a> </li>
   <li> <a href = "{% url 'user:criar_usuario' %}">Cadastrar</a> </li>
    {% else %}
   <li> Olá, <a href = "{% url 'user:detalhar_usuario' request.user.id %}"> {{request.user.username}}</a> </li>
   <li> <a href = "{% url 'user:deslogar_usuario' %}">logout </a> </li>
</ul>
    {% endif %}
</div>

    <h3>Postagens</h3>

    {% for p in posts %}
  
<div id = "card">
    <div>Titulo da postagem: {{p.titulo}}</div> 
    <br>
    <img class = "foto" src= " {{p.img.url}}"></img>
    <br>
    <div>Conteúdo: {{p.content}}</div> 
    <br>
    <div>Data de criação :{{p.created_at}}</div> 
 <div>Autor :{{p.autor}}</div> 
 <a href="http://localhost:8000/postagens/{{p.id}}/apagar"> <button> Deletar </button> </a>
 <a href="http://localhost:8000/postagens/{{p.id}}/editar"> <button> Editar </button> </a>
</div>


<br>
<br>
     {% endfor %}

<br>

<a href= "{% url 'post:criar_postagem' %}"> <button> Criar Postagem </button></a>
    
</body>
</html>