{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Criar Usuario</title>
</head>
<body>
    <div id= "criar">
    <h3>Criar Usuario</h3>
    <form action="" method="post">
        {% csrf_token %}
        <p>Usuario: {% render_field form.username %}</p>
        <p>Email:{% render_field form.email %}</p>
        <p>senha: {% render_field form.password1 %}</p>
        <p>Confirmacao de senha: {% render_field form.password2 %}</p>
        <input type="submit" value="Enviar">
    </form>
</div>
</body>
</html>